<app-breadcrumb [title]="product?.title" [breadcrumb]="'Product'"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <owl-carousel-o [options]="ProductDetailsMainSliderConfig" #owlCar class="product-slick">
                        <ng-container
                            *ngFor="let image of this.product?.variants[this.currentVariant].imagesPreview; index as i">
                            <ng-template carouselSlide [id]="i">
                                <div>
                                    <img [defaultImage]="this.imageAddress + product.variants[currentVariant].imagesPreview[currentVariantImage]"
                                        [lazyLoad]="this.imageAddress + image" [alt]="image.alt" class="img-fluid">
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>

                    <!-- <div class="row">
                        <div class="col-6 offset-3 p-0">
                            <div class="slider-nav">
                                <owl-carousel-o [options]="ProductDetailsThumbConfig" class="product-slick">
                                    <ng-container
                                        *ngFor="let image of this.product?.variants[this.currentVariant].imagesPreview; index as i">
                                        <ng-template carouselSlide [id]="i">
                                            <div class="owl-thumb center-image" [class.active]="i == activeSlide">
                                                <img [defaultImage]="this.imageAddress + product.variants[currentVariant].imagesPreview[0]"
                                                    [lazyLoad]="this.imageAddress + image" [alt]="image.alt"
                                                    class="img-fluid" (click)="owlCar.to(activeSlide = i.toString())">
                                            </div>
                                        </ng-template>
                                    </ng-container>
                                </owl-carousel-o>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-6 rtl-text">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-right">
                                <h2>{{ product?.title }}</h2>
                                <!-- <h4>
                                    <del *ngIf="product?.discount">{{ product?.price * productService.Currency?.price |
                                        currency: productService.Currency?.currency:'symbol' }}</del>
                                    <span>{{ product?.discount }}% off</span>
                                </h4> -->
                                <!-- <h3>
                                    {{ (product?.price | discount:product) * productService.Currency?.price | currency:
                                    productService.Currency?.currency:'symbol' }}
                                    {{ product?.skuArray[this.currentVariant].price * currency?.price |
                                    currency:currency?.currency:'symbol' }}
                                </h3> -->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex flex-row">
                                            <bar-rating [rate]="product?.starAvg" [readOnly]="true"></bar-rating>
                                            <span class="my-auto">({{ product?.totalReviews }})</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-m-2">
                                    <span [ngClass]="{'strikethrough': product?.sale, 'text-danger': product?.sale}">
                                        {{ product?.skuArray[this.currentVariant].price * currency?.price |
                                        currency:currency?.currency:'symbol'
                                        }}
                                        <small>
                                            {{ product?.skuArray[this.currentVariant].price * currency?.price |
                                            currency:currency?.currency:'symbol' | aedToDollar: this.conversionRate
                                            }}
                                        </small>
                                    </span>
                                    &nbsp; {{product?.discount}}% off
                                    <h3 *ngIf="product?.sale">
                                        {{ product?.skuArray[this.currentVariant].specialPrice * currency?.price |
                                        currency:currency?.currency:'symbol' }}
                                        <small>
                                            {{ product?.skuArray[this.currentVariant].specialPrice * currency?.price |
                                            currency:currency?.currency:'symbol' | aedToDollar: this.conversionRate }}
                                        </small>
                                    </h3>
                                    <h3 *ngIf="!product?.sale">&nbsp;</h3>
                                </div>
                                <!-- <ul class="color-variant" *ngIf="Color(product?.variants).length">
                                <li [class]="color" [class.active]="activeSlide == i.toString()" *ngFor="let color of Color(product?.variants); index as i" 
                                    [ngStyle]="{'background-color': color}"
                                    (click)="owlCar.to(activeSlide = i.toString())">
                                </li>
                            </ul> -->

                                <!-- <app-stock-inventory
                                    [stock]="this.product.variants[currentVariant].imagesPreview[currentVariantImage]">
                                </app-stock-inventory> -->
                                <div class="product-description border-product">
                                    <!-- <h6 class="product-title size-text" *ngIf="Size(product.variants).length">
                                        select size
                                        <span>
                                            <a href="javascrip:void(0)" (click)="SizeChart.openModal()">
                                                size chart
                                            </a>
                                        </span>
                                    </h6>
                                    <div class="size-box" *ngIf="Size(product.variants).length">
                                        <ul>
                                            <li [class.active]="selectedSize == size"
                                                *ngFor="let size of Size(product.variants)">
                                                <a href="javascript:void(0)" (click)="selectSize(size)">{{ size |
                                                    titlecase }}</a>
                                            </li>
                                        </ul>
                                    </div> -->
                                    <!-- <h5 class="avalibility" *ngIf="counter <= product.stock"><span>In Stock</span></h5>
                                    <h5 class="avalibility" *ngIf="counter > product.stock"><span>Out of Stock</span> -->
                                    <h5 class="avalibility"><span>In Stock</span></h5>
                                    <!-- <h5 class="avalibility"><span>Out of Stock</span></h5> -->
                                    <h6 class="product-title">quantity</h6>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-left-minus" data-type="minus"
                                                    (click)="decrement()">
                                                    <i class="ti-angle-left"></i>
                                                </button>
                                            </span>
                                            <input type="text" name="quantity" class="form-control input-number"
                                                [value]="counter" disabled />
                                            <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-right-plus" data-type="plus"
                                                    (click)="increment()">
                                                    <i class="ti-angle-right"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-buttons">
                                    <!-- <a href="javascrip:void(0)" class="btn btn-solid"
                                        [class.disabled]="counter > product.stock" (click)="addToCart(product)">add to
                                        cart</a>
                                    <a href="javascrip:void(0)" class="btn btn-solid"
                                        [class.disabled]="counter > product.stock" (click)="buyNow(product)">buy now</a> -->
                                    <a class="btn btn-solid" (click)="addToCart(product, currentVariant)">add
                                        to
                                        cart</a>
                                    <a class="btn btn-solid" (click)="buyNow(product, currentVariant)">buy
                                        now</a>
                                </div>

                                <span>Arriving in 1-3 business days</span>

                                <div class="border-product">
                                    <h6 class="product-title">product details</h6>

                                    <div *ngIf="this.product?.description.length > 200"
                                        [innerHTML]="this.product?.description.substring(0, 400)+'...'"></div>
                                    <div *ngIf="this.product?.description.length < 200"
                                        [innerHTML]="this.product?.description"></div>
                                    <a *ngIf="this.product?.description.length > 200" href="javascript:void(0)"
                                        (click)="this.helperMethodsService.scrollToSection('detail-section')">view
                                        more</a>
                                </div>
                                <div class="border-product">
                                    <h6 class="product-title">Follow Us</h6>
                                    <div class="product-icon">
                                        <app-social></app-social>
                                        <!-- <form class="d-inline-block">
                                            <button class="wishlist-btn" (click)="addToWishlist(product)">
                                                <i class="fa fa-heart"></i>
                                                <span class="title-font">Add To WishList</span>
                                            </button>
                                        </form> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col order-up" *ngIf="product?.variants.length > 0">
                            <div class="imgae-outside-thumbnail">
                                <div class="col-12 p-0 slider-nav-images">
                                    <owl-carousel-o [options]="ProductVariantsThumbSlider" class="product-slick">
                                        <ng-container *ngFor="let variant of product?.variants; index as i">
                                            <ng-template carouselSlide [id]="i">
                                                <div class="owl-thumb center-image" [class.active]="i == currentVariant"
                                                    style="width: 180px; height: 280px;">
                                                    <img [defaultImage]="this.imageAddress + variant.imagesPreview[variant.isThumbnailImageIndex]"
                                                        [lazyLoad]="this.imageAddress + variant.imagesPreview[variant.isThumbnailImageIndex]"
                                                        [alt]="" class="img-fluid" (click)="changeVariant(i)">
                                                </div>
                                            </ng-template>
                                        </ng-container>
                                    </owl-carousel-o>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <section class="tab-product m-0">
                <div class="row">
                    <div class="col-sm-12 col-lg-12" id="detail-section">
                        <!-- <div class="col-sm-10 offset-sm-1 col-lg-10 offset-lg-1" id="detail-section"> -->
                        <ngb-tabset [type]="'tabs'" class="nav-material">
                            <ngb-tab>
                                <ng-template ngbTabTitle>Description</ng-template>
                                <ng-template ngbTabContent>
                                    <div class="mt-3" [innerHTML]="this.product?.description"></div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle>Shipping & Return</ng-template>
                                <ng-template ngbTabContent>
                                    <div class="container my-2 shipping-faq-content">
                                        <div class="row">
                                            <div class="col-12">
                                                <h2>A. Ship In UAE</h2>
                                                <h4>1. Standard Shipping</h4>
                                                <h6>Handling Day: 1 business days, Arriving Day: 1-2 business days</h6>
                                                <h6>Cost: Free</h6>
                                                <h6>Country/Region: UAE</h6>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-12">
                                                <h2>B. Ship From Sourcing Place</h2>
                                                <h4>1. Standard Shipping</h4>
                                                <h6>Handling Day:1-3 Business Days, Arriving Day: 15-35 Business Days
                                                </h6>
                                                <h6>Cost: Free</h6>
                                                <h6>Country/Region: Sourcing Place</h6>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-12">
                                                <h4>COVID-19 | Shipping</h4>
                                                <br />
                                                <p class="p-0">
                                                    As the world adjusts to the impact of the coronavirus (COVID-19),
                                                    shipping is inevitably affected. Every country and region is facing
                                                    shipping delays of various degrees. UAE Slimmer team will do our
                                                    best to
                                                    keep you updated and informed about your order during this time as
                                                    new information becomes available.
                                                    <br />
                                                    Regions heavily affected by the pandemic will be subjected to
                                                    possible delays. Thank you for your understanding and we apologize
                                                    for any
                                                    inconvenience this may cause you.
                                                    <br />
                                                    If you have any questions or concerns about your order, please email
                                                    us at service@UAE Slimmer and our team will be happy to assist you,
                                                    7
                                                    days
                                                    a week.
                                                </p>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="row">
                                            <div class="col-12">
                                                <h4>Shipping FAQ</h4>
                                            </div>
                                            <br />
                                            <div class="col-12 mb-4">
                                                <h6>1. When will I receive my order?</h6>
                                                <br />
                                                <p>For Standard Shipping from UAE warehouse: Most items are usually
                                                    shipping in 1-3 business days. For Express Shipping UAE warehouse:
                                                    Most items are usually shipping in 1 business day. For Standard
                                                    Shipping from Sourcing Place: Most items are usually shipping in
                                                    15-35 business days. We do recommend allowing up to 3 weeks for your
                                                    order in peak times, such as a special offer or promotion.
                                                </p>
                                                <br />
                                                <p>
                                                    If your order is backordered or not shipping for two or more
                                                    business days, please feel free to contact us immediately at our
                                                    Support Center: +971 4 570 9887 and we will do everything we can to
                                                    accommodate your request.
                                                </p>
                                                <br />
                                            </div>
                                            <br />
                                            <div class="col-12 mb-4">
                                                <h6>2. How do I track my order?</h6>
                                                <br />
                                                <p>
                                                    Your delivery confirmation email will contain your tracking number
                                                    and order details.
                                                </p>
                                                <br />
                                            </div>
                                            <br />
                                            <div class="col-12 mb-4">
                                                <h6>3. Taxes and other charges?</h6>
                                                <br />
                                                <p>
                                                    Depending on the country of delivery, you may be required to pay
                                                    extra tax or charges such as VAT and/or import duties.
                                                </p>
                                                <br />
                                            </div>
                                            <br />
                                            <div class="col-12 mb-4">
                                                <h6>4. About the Shipping fee?</h6>
                                                <br />
                                                <p>
                                                    Standard Shipping is free shipping.
                                                </p>
                                                <br />
                                                <p>
                                                    UAE Slimmer guarantees free returns and replacements service if you
                                                    are
                                                    not 100% satisfied with our products. Kindly return the purchase for
                                                    a refund up to seven (7) days from the date of the order delivered.
                                                    If you have any problem with the item please feel free to contact us
                                                    immediately at +971 4 570 9887.
                                                </p>
                                                <br />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-12">
                                                <h3>Returns Process.</h3>
                                                <br />
                                                <p>
                                                    Please contact us if you want to return an item. Return without
                                                    prior discussion and authorization will not be accepted.
                                                </p>
                                                <br />
                                                <p>When returning a product, please do the following:</p>
                                                <ul class="p-4">
                                                    <li>
                                                        <p>Please email service@uaeslimmer. we will keep you updated by
                                                            email.</p>
                                                    </li>
                                                    <li>
                                                        <p>Please put a form inside your returned package with: the
                                                            reason
                                                            for return, the purchase date, the original invoice number,
                                                            and
                                                            the item number for the product.</p>
                                                    </li>
                                                    <li>
                                                        <p>Proof of purchase from UAE Slimmer is required for all
                                                            returns.</p>
                                                    </li>
                                                    <li>
                                                        <p>Ship the package to the designated address, the address will
                                                            be
                                                            provided by email after your return application is
                                                            submitted.</p>
                                                    </li>
                                                    <li>
                                                        <p>Please prepay shipping – UAE Slimmer does not accept Cash on
                                                            Delivery (C.O.D.s).</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>

                            <ngb-tab>
                                <ng-template ngbTabTitle>Reviews</ng-template>
                                <ng-template ngbTabContent>
                                    <div class="container">
                                        <div class="row mb-2">
                                            <div class="col-12">
                                                <div class="div" *ngFor="let review of reviewsArray">
                                                    <app-rating-block [reviewObj]="review"></app-rating-block>
                                                </div>
                                                <div *ngIf="reviewsArray.length == 0">
                                                    <div class="row pt-2 mt-3 text-center">
                                                        <div class="col-12">
                                                            <h4>No Reviews</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>

                            <ngb-tab>
                                <ng-template ngbTabTitle>Write Review</ng-template>

                                <ng-template ngbTabContent>
                                    <form class="theme-form" [formGroup]="reviewForm" (ngSubmit)="onReviewSubmit()">
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="media">
                                                    <label>Rating</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-2">
                                                <rating formControlName="Rating" [max]="max" [readonly]="isReadonly"
                                                    (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                                                    [titles]="['one','two','three']"
                                                    style="color: #fcff4b;font-size: 30px;"></rating>
                                            </div>
                                            <div class="col-md-6  mb-2">
                                                <label for="name">Name</label>
                                                <input type="text" formControlName="Name" class="form-control" id="name"
                                                    placeholder="Enter Your name" required>
                                                <div *ngIf="isSubmit && reviewForm.controls.Name.errors?.required"
                                                    class="text text-danger">
                                                    Name is required.
                                                </div>
                                            </div>
                                            <div class="col-md-6  mb-2">
                                                <label for="email">Email</label>
                                                <input type="email" formControlName="Email" class="form-control"
                                                    id="email" placeholder="Email" required>
                                                <div *ngIf="isSubmit && reviewForm.controls.Email.errors?.required"
                                                    class="text text-danger">
                                                    Email is required.
                                                </div>
                                            </div>
                                            <div class="col-md-12  mb-2">
                                                <label for="review">Review Title</label>
                                                <input type="text" formControlName="Title" class="form-control"
                                                    id="review" placeholder="Enter your Review Subjects" required>
                                                <div *ngIf="isSubmit && reviewForm.controls.Title.errors?.required"
                                                    class="text text-danger">
                                                    Title is required.
                                                </div>
                                            </div>
                                            <div class="col-md-12  mb-2">
                                                <label for="review">Comment</label>
                                                <textarea class="form-control" formControlName="Comment"
                                                    placeholder="Wrire Your Review" id="exampleFormControlTextarea1"
                                                    rows="6"></textarea>
                                                <div *ngIf="isSubmit && reviewForm.controls.Comment.errors?.required"
                                                    class="text text-danger">
                                                    Comment is required.
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button class="btn btn-solid" type="submit">Submit YOur Review</button>
                                            </div>
                                        </div>
                                    </form>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </section>

            <section class="full-banner parallax tools-parallax-product tools-grey border-box" id="products-section">
                <h4 class="pb-4">Related Products</h4>
                <owl-carousel-o [options]="ProductSlider" class="no-arrow">
                    <ng-container *ngFor="let product of this.products">
                        <ng-template carouselSlide>
                            <div class="product-box product-wrap">
                                <app-product-box-three [product]="product" [currency]="productService?.Currency">
                                </app-product-box-three>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </section>
        </div>
    </div>
</section>
<app-size-modal #sizeChart [product]="product"></app-size-modal>
<!-- Section ends -->