<app-header-one [sticky]="true"></app-header-one>

<section class="section-b-space">
    <div class="collection-wrapper">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"
            id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <div class="container">
            <div class="page-header">
                <h1 id="timeline">Timeline</h1>
            </div>
            <ul class="timeline">
                <li class="timeline-inverted timeline-li">
                    <div class="timeline-badge">
                        <div class="m-auto">
                            <div class="timeline-balloon-date-day">13</div>
                            <div class="timeline-balloon-date-month">APR</div>
                        </div>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Order Placed</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via
                                    Twitter</small></p>
                        </div>
                        <div class="timeline-body">
                            <span class="badge badge-pill info">In Progress</span>
                            <span class="badge badge-pill success">Completed</span>
                            <!-- <span class="badge badge-pill badge-danger">Cancelled</span> -->
                        </div>
                    </div>
                </li>
                <li class="timeline-sm timeline-li">
                    <div class="timeline-badge">
                        <div class="m-auto">
                            <div class="timeline-balloon-date-day">13</div>
                            <div class="timeline-balloon-date-month">APR</div>
                        </div>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Packed</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via
                                    Twitter</small></p>
                        </div>
                        <div class="timeline-body">
                            <span class="badge badge-pill info">In Progress</span>
                            <span class="badge badge-pill success">Completed</span>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted timeline-li">
                    <div class="timeline-badge">
                        <div class="m-auto">
                            <div class="timeline-balloon-date-day">13</div>
                            <div class="timeline-balloon-date-month">APR</div>
                        </div>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Dispatched</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via
                                    Twitter</small></p>
                        </div>
                        <div class="timeline-body">
                            <span class="badge badge-pill info">In Progress</span>
                            <span class="badge badge-pill success">Completed</span>
                        </div>
                    </div>
                </li>
                <li class="timeline-sm timeline-li">
                    <div class="timeline-badge">
                        <div class="m-auto">
                            <div class="timeline-balloon-date-day">13</div>
                            <div class="timeline-balloon-date-month">APR</div>
                        </div>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Delivered</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via
                                    Twitter</small></p>
                        </div>
                        <div class="timeline-body">
                            <span class="badge badge-pill info">In Progress</span>
                            <span class="badge badge-pill success">Completed</span>
                        </div>
                    </div>
                </li>
                <li class="timeline-sm timeline-li">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via
                                    Twitter</small></p>
                        </div>
                        <div class="timeline-body">
                            <span class="badge badge-pill info">In Progress</span>
                            <span class="badge badge-pill success">Completed</span>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted timeline-li">
                    <div class="timeline-badge">
                        <div class="m-auto">
                            <div class="timeline-balloon-date-day">13</div>
                            <div class="timeline-balloon-date-month">APR</div>
                        </div>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Paid</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via
                                    Twitter</small></p>
                        </div>
                        <div class="timeline-body">
                            <span class="badge badge-pill info">In Progress</span>
                            <span class="badge badge-pill success">Completed</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>


<app-footer-one></app-footer-one>