<app-header-one [sticky]="false"></app-header-one>
<app-breadcrumb [title]="'Track Your'" [breadcrumb]="'Track Order'"></app-breadcrumb>

<section class="section-b-space">
    <div class="collection-wrapper">
        <div class="container container-custom">
            <div class="d-flex flex-row justify-content-center h-100">
                <div class="searchbar">
                    <input class="search_input" [(ngModel)]="searchValue" type="text" name="searchValue"
                        placeholder="Type Order Id...">
                    <a href="#" class="search_icon" (click)="searchOrder($event)"><i class="fa fa-search"></i></a>
                </div>
            </div>
        </div>

        <div class="container mt-3" *ngIf="showTimeLine">
            <div class="page-header">
                <h3 id="timeline">Timeline</h3>
            </div>
            <ul class="timeline">
                <!-- <tr *ngFor="let status of this.tracking_Status | keyvalue">
                    <td style="width: auto;">{{ this.capitalizeFirstLetter(status.key.replaceAll('_', " ")) }}</td>
                    <td style="width: 20px;">
                        <div class="form-check">
                            <input [disabled]="this.current_Status != status.key" class="form-check-input"
                                type="checkbox" [checked]="status.value.completed"
                                [(ngModel)]="this.tracking_Status[status.key].completed" id="flexCheckChecked"
                                (change)="this.checkStatusCheckboxVal(status.key)">
                        </div>
                    </td>
                    <td style="width: 20px;">
                        <div class="form-check">
                            <input [disabled]="this.current_Status != status.key" class="form-check-input"
                                type="checkbox" [checked]="status.value.cancelled"
                                [(ngModel)]="this.tracking_Status[status.key].cancelled" id="flexCheckChecked"
                                (change)="this.checkStatusCheckboxVal(status.key)">
                        </div>
                    </td>
                </tr> -->

                <!-- <li class="timeline-li" [ngClass]="{'timeline-sm': i % 2 == 0, 'timeline-inverted': i % 2 != 0 }"
                    *ngFor="let status of this.tracking_Status | keyvalue; let i = index">
                    <div [ngClass]="{
                        'timeline-badge': true, 
                        'primary': this.tracking_Status.order_Confirmed.inProgress, 
                        'success': this.tracking_Status.order_Confirmed.completed, 
                        'danger': this.tracking_Status.order_Confirmed.cancelled
                    }">
                        <div class="m-auto">
                            <div class="timeline-balloon-date-day">13</div>
                            <div class="timeline-balloon-date-month">APR</div>
                        </div>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">{{
                                this.helperMethodsService.capitalizeFirstLetter(status.key.replaceAll('_', " ")) }}</h4>
                            <p>
                                <small class="text-muted">
                                    <i class="glyphicon glyphicon-time"></i>
                                    <span>{{ status.value.comment }}</span>
                                </small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <span class="badge badge-pill text-white info" *ngIf="status.value.inProgress">In
                                Progress</span>
                            <span class="badge badge-pill text-white success"
                                *ngIf="status.value.completed">Completed</span>
                            <span class="badge badge-pill text-white badge-danger"
                                *ngIf="status.value.cancelled">Cancelled</span>
                        </div>
                    </div>
                </li> -->
                <li class="timeline-sm timeline-li" *ngIf="this.tracking_Status.order_Confirmed.status">
                    <div [ngClass]="{
                        'timeline-badge': true, 
                        'info': this.tracking_Status.order_Confirmed.inProgress, 
                        'success': this.tracking_Status.order_Confirmed.completed, 
                        'danger': this.tracking_Status.order_Confirmed.cancelled
                    }">
                        <div class="m-auto">
                            <div class="timeline-balloon-date-day">{{
                                this.tracking_Status.order_Confirmed.date.getDate() || null }}</div>
                            <div class="timeline-balloon-date-day">{{
                                monthNames[this.tracking_Status.order_Confirmed.date.getMonth()] || null }}</div>
                        </div>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Order Confirmed</h4>
                            <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via
                                    Twitter</small></p> -->
                        </div>
                        <div class="timeline-body">
                            <span class="badge badge-pill text-white info"
                                *ngIf="this.tracking_Status.order_Confirmed.inProgress">In
                                Progress</span>
                            <span class="badge badge-pill text-white success"
                                *ngIf="this.tracking_Status.order_Confirmed.completed">Completed</span>
                            <span class="badge badge-pill text-white badge-danger"
                                *ngIf="this.tracking_Status.order_Confirmed.cancelled">Cancelled</span>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted timeline-li" *ngIf="this.tracking_Status.ready_for_Delivery.status">
                    <div [ngClass]="{
                        'timeline-badge': true, 
                        'info': this.tracking_Status.ready_for_Delivery.inProgress, 
                        'success': this.tracking_Status.ready_for_Delivery.completed, 
                        'danger': this.tracking_Status.ready_for_Delivery.cancelled
                    }">
                        <div class="m-auto">
                            <div class="timeline-balloon-date-day">{{
                                this.tracking_Status.ready_for_Delivery.date.getDate() || null }}</div>
                            <div class="timeline-balloon-date-day">{{
                                monthNames[this.tracking_Status.ready_for_Delivery.date.getMonth()] || null }}</div>
                        </div>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Ready For Delivery</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via
                                    Twitter</small></p>
                        </div>
                        <div class="timeline-body">
                            <span class="badge badge-pill text-white info"
                                *ngIf="this.tracking_Status.ready_for_Delivery.inProgress">In
                                Progress</span>
                            <span class="badge badge-pill text-white success"
                                *ngIf="this.tracking_Status.ready_for_Delivery.completed">Completed</span>
                            <span class="badge badge-pill text-white badge-danger"
                                *ngIf="this.tracking_Status.ready_for_Delivery.cancelled">Cancelled</span>
                        </div>
                    </div>
                </li>
                <li class="timeline-sm timeline-li" *ngIf="this.tracking_Status.out_For_Delivery.status">
                    <div [ngClass]="{
                        'timeline-badge': true, 
                        'info': this.tracking_Status.out_For_Delivery.inProgress, 
                        'success': this.tracking_Status.out_For_Delivery.completed, 
                        'danger': this.tracking_Status.out_For_Delivery.cancelled
                    }">
                        <div class="m-auto">
                            <div class="timeline-balloon-date-day">{{
                                this.tracking_Status.out_For_Delivery.date.getDate() || null }}</div>
                            <div class="timeline-balloon-date-day">{{
                                monthNames[this.tracking_Status.out_For_Delivery.date.getMonth()] || null }}</div>
                        </div>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Out For Delivery</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via
                                    Twitter</small></p>
                        </div>
                        <div class="timeline-body">
                            <span class="badge badge-pill text-white info"
                                *ngIf="this.tracking_Status.out_For_Delivery.inProgress">In
                                Progress</span>
                            <span class="badge badge-pill text-white success"
                                *ngIf="this.tracking_Status.out_For_Delivery.completed">Completed</span>
                            <span class="badge badge-pill text-white badge-danger"
                                *ngIf="this.tracking_Status.out_For_Delivery.cancelled">Cancelled</span>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted timeline-li" *ngIf="this.tracking_Status.delivered.status">
                    <div [ngClass]="{
                        'timeline-badge': true, 
                        'info': this.tracking_Status.delivered.inProgress, 
                        'success': this.tracking_Status.delivered.completed, 
                        'danger': this.tracking_Status.delivered.cancelled
                    }">
                        <div class="m-auto">
                            <div class="timeline-balloon-date-day">{{ this.tracking_Status.delivered.date.getDate() ||
                                null }}</div>
                            <div class="timeline-balloon-date-day">{{
                                monthNames[this.tracking_Status.delivered.date.getMonth()] || null }}</div>
                        </div>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Delivered</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via
                                    Twitter</small></p>
                        </div>
                        <div class="timeline-body">
                            <span class="badge badge-pill text-white info"
                                *ngIf="this.tracking_Status.delivered.inProgress">In
                                Progress</span>
                            <span class="badge badge-pill text-white success"
                                *ngIf="this.tracking_Status.delivered.completed">Completed</span>
                            <span class="badge badge-pill text-white badge-danger"
                                *ngIf="this.tracking_Status.delivered.cancelled">Cancelled</span>
                        </div>
                    </div>
                </li>
                <li class="timeline-sm timeline-li" *ngIf="this.tracking_Status.Paid.status">
                    <div [ngClass]="{
                        'timeline-badge': true, 
                        'info': this.tracking_Status.Paid.inProgress, 
                        'success': this.tracking_Status.Paid.completed, 
                        'danger': this.tracking_Status.Paid.cancelled
                    }">
                        <div class="m-auto">
                            <div class="timeline-balloon-date-day">{{ this.tracking_Status.Paid.date.getDate() || null
                                }}</div>
                            <div class="timeline-balloon-date-day">{{
                                monthNames[this.tracking_Status.Paid.date.getMonth()] || null }}</div>
                        </div>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Paid</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via
                                    Twitter</small></p>
                        </div>
                        <div class="timeline-body">
                            <span class="badge badge-pill text-white info"
                                *ngIf="this.tracking_Status.Paid.inProgress">In
                                Progress</span>
                            <span class="badge badge-pill text-white success"
                                *ngIf="this.tracking_Status.Paid.completed">Completed</span>
                            <span class="badge badge-pill text-white badge-danger"
                                *ngIf="this.tracking_Status.Paid.cancelled">Cancelled</span>
                        </div>
                    </div>
                </li>
            </ul>


            <div class="table-responsive" *ngIf="showProducts">
                <table class="table table-bordered table-hover shadow">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="" *ngFor="let product of product_List; let arrayIndex = index">
                            <td class="p-3 w-25">{{ product.product_name }}</td>
                            <td class="p-3">{{ product.amount }}</td>
                            <td class="p-3">{{ product.quantity }}</td>
                            <td class="p-3">{{ product.unit_Cost }}</td>
                            <td class="p-3">{{ product.unit_Cost * product.quantity }}</td>
                            <!-- <td class="p-3">
                                <img src="{{ this.imageAddress + product_List[arrayIndex].variants[0].imagesPreview[0] }}"
                                    width="150" />
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


<!-- <app-footer-one></app-footer-one> -->
<app-footer-two [class]="'footer-5'" [themeLogo]="themeFooterLogo"></app-footer-two>