<div class="img-wrapper">
    <!-- <div class="ribbon" *ngIf="this.product.new"><span>new</span></div> -->
    <div class="ribbon" *ngIf="this.product.sale"><span>sale</span></div>
    <div class="front product-img" style="height: 300px;">
        <a href="{{'/shop/product/image/outside/' + product._id}}">
            <img [defaultImage]="'assets/images/product/placeholder.jpg'"
                [lazyLoad]="this.imageAddress + this.product.variants[0].imagesPreview[0]" class="img-fluid" alt="">
        </a>
    </div>
    <div class="cart-info cart-wrap">
        <!-- <a href="javascript:void(0)" (click)="addToWishlist(product)" title="Add to Wishlist">
        	<i class="fa fa-heart" aria-hidden="true"></i>
        </a> -->
        <button title="Add to cart" (click)="CartModal.openModal(product)" *ngIf="cartModal">
            <i class="ti-shopping-cart"></i> Add to cart
        </button>
        <button title="Add to cart" (click)="addToCart(product, 0)" *ngIf="!cartModal">
            <i class="ti-shopping-cart"></i> Add to cart
        </button>
        <a href="javascript:void(0)" (click)="addToCompare(product)" title="Compare">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </a>
        <a href="javascript:void(0)" class="mobile-quick-view" (click)="QuickView.openModal()" title="Quick View">
            <i class="ti-search" aria-hidden="true"></i>
        </a>
    </div>
    <div class="quick-view-part">
        <a href="javascript:void(0)" (click)="QuickView.openModal()" title="Quick View">
            <i class="ti-search" aria-hidden="true"></i>
        </a>
    </div>
</div>
<div class="product-info">
    <bar-rating [rate]="5" [readOnly]="true"></bar-rating>
    <a href="{{'/shop/product/image/outside/' + product._id}}">
        <h6>{{ product?.title ? product?.title : "No Title" | titlecase }}</h6>
    </a>
    <br />

    <h5 [ngClass]="{'strikethrough': product.sale, 'text-danger': product.sale}">
        {{ product?.skuArray[0].price * currency?.price | currency:currency?.currency:'symbol' }}
        <small>
            {{ product?.skuArray[0].price * currency?.price | currency:currency?.currency:'symbol' | aedToDollar: this.conversionRate }}
        </small>
    </h5>
    <h5 *ngIf="product.sale">
        {{ product?.skuArray[0].specialPrice * currency?.price | currency:currency?.currency:'symbol' }}
        <small>
            {{ product?.skuArray[0].specialPrice * currency?.price | currency:currency?.currency:'symbol' | aedToDollar: this.conversionRate }}
        </small>
    </h5>
    <h5 *ngIf="!product.sale">&nbsp;</h5>
</div>

<app-quick-view #quickView [product]="product" [currency]="currency"></app-quick-view>
<app-cart-modal #cartModal [product]="product" [currency]="currency" *ngIf="cartModal"></app-cart-modal>