<!-- Start Categories List -->
<div class="collection-collapse-block" [class.open]="collapse">
    <h3 class="collapse-block-title" (click)="collapse = !collapse">Collections</h3>
    <div class="d-flex flex-row align-items-center" *ngFor="let collection of filterbyCollection">
        <input type="checkbox" [value]="collection" [checked]="checked(collection)" [id]="collection"
            (change)="appliedFilter($event, collection)" class="custom-control-input" />
        <!-- <span [class]="collection" [ngStyle]="{'background-color': collection}"></span> -->
        <label class="custom-control-label" style="margin-left: 8px;" for="{{ collection }}"> {{ collection }}</label>
    </div>
</div>
<!-- End Categories List -->