<app-breadcrumb [title]="'Blog Details'" [breadcrumb]="'Blog Details'"></app-breadcrumb>
<!--section start-->
<section class="blog-detail-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 blog-detail">
                <div class="blog-detail-img mb-4">
                    <img src="{{this.blogDetails.imgUrl}}" class="img-fluid" alt="" />
                </div>
                <h3>{{this.blogDetails.title}}</h3>
                <span class="badge badge-pill badge-success" *ngFor="let object of this.blogDetails.tags">
                    {{ object }}
                </span>
                <ul class="post-social">
                    <li>{{ this.blogDetails.createdAt | date }}</li>
                    <!-- <li>Posted By : Admin Admin </li> -->
                    <!-- <li><i class="fa fa-heart"></i>  5 Hits  </li>
                    <li><i class="fa fa-comments"></i> 10  Comment</li> -->
                </ul>
                <p><span [innerHTML]="this.blogDetails.description"></span></p>
            </div>
        </div>
        <!-- <section class="tab-product m-0">
            <div class="row">
                <div class="col-sm-12 col-lg-12" id="detail-section">
                    <ngb-tabset [type]="'tabs'" class="nav-material">
                        <ngb-tab>
                            <ng-template ngbTabTitle>Reviews</ng-template>
                            <ng-template ngbTabContent>
                                <div class="container">
                                    <div class="row mb-2">
                                        <div class="col-12">
                                            <div class="div" *ngFor="let review of reviewsArray">
                                                <app-rating-block [reviewObj]="review"></app-rating-block>
                                            </div>
                                            <div *ngIf="reviewsArray.length == 0">
                                                <div class="row pt-2 mt-3 text-center">
                                                    <div class="col-12">
                                                        <h4>No Reviews</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>

                        <ngb-tab>
                            <ng-template ngbTabTitle>Write Review</ng-template>

                            <ng-template ngbTabContent>
                                <form class="theme-form" [formGroup]="reviewForm" (ngSubmit)="onReviewSubmit()">
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="media">
                                                <label>Rating</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-2">
                                            <rating formControlName="Rating" [max]="max" [readonly]="isReadonly"
                                                (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                                                [titles]="['one','two','three']"
                                                style="color: #fcff4b;font-size: 30px;"></rating>
                                        </div>
                                        <div class="col-md-6  mb-2">
                                            <label for="name">Name</label>
                                            <input type="text" formControlName="Name" class="form-control" id="name"
                                                placeholder="Enter Your name" required>
                                            <div *ngIf="isSubmit && reviewForm.controls.Name.errors?.required"
                                                class="text text-danger">
                                                Name is required.
                                            </div>
                                        </div>
                                        <div class="col-md-6  mb-2">
                                            <label for="email">Email</label>
                                            <input type="email" formControlName="Email" class="form-control" id="email"
                                                placeholder="Email" required>
                                            <div *ngIf="isSubmit && reviewForm.controls.Email.errors?.required"
                                                class="text text-danger">
                                                Email is required.
                                            </div>
                                        </div>
                                        <div class="col-md-12  mb-2">
                                            <label for="review">Review Title</label>
                                            <input type="text" formControlName="Title" class="form-control" id="review"
                                                placeholder="Enter your Review Subjects" required>
                                            <div *ngIf="isSubmit && reviewForm.controls.Title.errors?.required"
                                                class="text text-danger">
                                                Title is required.
                                            </div>
                                        </div>
                                        <div class="col-md-12  mb-2">
                                            <label for="review">Comment</label>
                                            <textarea class="form-control" formControlName="Comment"
                                                placeholder="Wrire Your Testimonial Here"
                                                id="exampleFormControlTextarea1" rows="6"></textarea>
                                            <div *ngIf="isSubmit && reviewForm.controls.Comment.errors?.required"
                                                class="text text-danger">
                                                Comment is required.
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-solid" type="submit">Submit YOur Review</button>
                                        </div>
                                    </div>
                                </form>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </section> -->
        <!-- <div class="row blog-contact">
            <div class="col-sm-12">
                <h2>Leave Your Comment</h2>
                <form class="theme-form">
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Your name" required="">
                        </div>
                        <div class="col-md-12">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" required="">
                        </div>
                        <div class="col-md-12">
                            <label for="exampleFormControlTextarea1">Comment</label>
                            <textarea class="form-control" placeholder="Write Your Comment"
                                id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-solid" type="submit">Post Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
    </div>
</section>
<!--Section ends-->