<app-breadcrumb [title]="'Blog Details'" [breadcrumb]="'Blog Details'"></app-breadcrumb>
<!--section start-->
<section class="blog-detail-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 blog-detail">
                <img src="{{this.blogDetails.imgUrl}}" class="img-fluid" alt="" />
                <h3>{{this.blogDetails.title}}</h3>
                <span class="badge badge-pill badge-primary" *ngFor="let object of this.blogDetails.tags">
                    {{ object }}
                </span>
                <ul class="post-social">
                    <li>{{ this.blogDetails.createdAt | date }}</li>
                    <!-- <li>Posted By : Admin Admin </li> -->
                    <!-- <li><i class="fa fa-heart"></i>  5 Hits  </li>
                    <li><i class="fa fa-comments"></i> 10  Comment</li> -->
                </ul>
                <p><span [innerHTML]="this.blogDetails.description"></span></p>
            </div>
        </div>
        <!-- <div class="row blog-contact">
            <div class="col-sm-12">
                <h2>Leave Your Comment</h2>
                <form class="theme-form">
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Your name" required="">
                        </div>
                        <div class="col-md-12">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" required="">
                        </div>
                        <div class="col-md-12">
                            <label for="exampleFormControlTextarea1">Comment</label>
                            <textarea class="form-control" placeholder="Write Your Comment"
                                id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-solid" type="submit">Post Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
    </div>
</section>
<!--Section ends-->