.blog-detail-img {
    max-height: 300px !important;
    height: 100%;
}

.blog-detail-img img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    overflow: hidden !important;
}

::ng-deep .blog-desc .ql-container {
    border: none !important;
  }
  ::ng-deep .blog-desc li {
    display: list-item !important;
    text-align: -webkit-match-parent !important;
  }