<div class="container categories-section mt-4">
    <div class="row g-2">
        <div class="col-sm-12 col-md-6">
            <div class="d-flex justify-content-center align-items-center p-3 border bg-primary h-100">Category 1</div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="row mb-2">
                <div class="col-12">
                    <div class="d-flex justify-content-center align-items-center p-3 border bg-warning">Category 2</div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <div class="d-flex justify-content-center align-items-center p-3 border bg-secondary">Category 3
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex justify-content-center align-items-center p-3 border bg-danger">Category 4</div>
        </div>
    </div>
</div>