<div class="container-fluid p-3">
    <div class="row p-3">
        <div class="col-md-3">
            <a href="/">
                <div class="logo">
                    Hard
                    <span>Taker</span>
                </div>
            </a>

            <div class="d-flex flex-row mt-3">
                <a style="font-size: 1.25rem; text-decoration: none !important; color: white !important;"
                    [routerLink]="['/trackorder']"><i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Track
                    Order</a>
            </div>
            <div class="d-flex flex-row mt-3">
                <a class="mx-2" href="https://www.facebook.com/UAESlimmer"><i class="text-white fa fa-facebook"
                        aria-hidden="true"></i></a>
                <a class="mx-2" href="https://www.instagram.com/uae_slimmers/"><i class="text-white fa fa-instagram"
                        aria-hidden="true"></i></a>
            </div>
            <div class="d-flex flex-row mt-3">
                <p> Copyright © 2021 Hard taker. All Rights Reserved</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="sub-title">
                <div class="footer-title">
                    <h2 class="text-white">Links</h2>
                </div>
                <div class="footer-contant footer-contant-links">
                    <ul class="p-0 d-flex flex-column text-white">
                        <li><a class="p-1" [routerLink]="['/']">HOME</a></li>
                        <li><a class="p-1" [routerLink]="['blogs']">BLOGS</a></li>
                        <li><a class="p-1" [routerLink]="['faq']">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sub-title">
                <div class="footer-title">
                    <h2 class="text-white">store information</h2>
                </div>
                <div class="footer-contant">
                    <ul class="contact-list p-0 d-flex flex-column">
                        <li class="text-white"><i class="text-white fa fa-map-marker"></i>&nbsp;&nbsp; Hard Taker
                        </li>
                        <li class="text-white"><i class="text-white fa fa-phone"></i>&nbsp;&nbsp; Call Us: +971 5643 91589</li>
                        <li class="text-white"><i class="text-white fa fa-envelope-o"></i>&nbsp;&nbsp; Email Us:
                            <a href="javascript:void(0)" class="text-white"
                                style="text-transform: lowercase;">info@hardtaker.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 subscribe-wrapper">
            <div class="text-center subscribe-block">
                <h2 class="text-white pb-1">newsletter</h2>
                <div class="form-group">
                    <input type="text" class="form-control my-2" id="exampleFormControlInput3"
                        placeholder="Enter your email">
                    <button type="submit" class="btn btn-solid primary my-2">subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>