<app-breadcrumb [title]="'Blogs'" [breadcrumb]="'Blogs'"></app-breadcrumb>
<app-pagetitle [title]="'Our Blogs'" [subtitle]=""></app-pagetitle>

<!-- section start -->
<section class="section-b-space  blog-page">
    <div class="container">
        <div class="row">
            <!--Blog List start-->
            <div class="col-xl-12 col-lg-8 col-md-7 ">
                <div *ngIf="this.blogs.length == 0">
                    <div class="container">
                        <div class="row text-center justify-content-center">
                            <div class="col-12">
                                <h4 class="text-muted">Blogs not found!</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row blog-media" *ngFor="let blog of blogs">
                    <div class="col-xl-6">
                        <div class="blog-left">
                            <a [routerLink]="['/blog/', blog._id]"><img
                                    src="{{this.imageAddress + blog.imgUrl}}" class="img-fluid" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="blog-right">
                            <div>
                                <h6>{{ blog.createdAt | date }}</h6>
                                <a [routerLink]="['/blog/', blog._id]">
                                    <h4>{{ blog.title }}</h4>
                                    <ul class="post-social">
                                        <span class="badge badge-pill badge-success" *ngFor="let object of blog.tags">
                                            {{ object }}
                                        </span>
                                        <!-- <li>Posted By : Admin Admin </li> -->
                                        <!-- <li><i class="fa fa-heart"></i>  5 Hits  </li>
                                        <li><i class="fa fa-comments"></i> 10  Comment</li> -->
                                    </ul>
                                </a>
                                <p class="blog-desc"><span [innerHTML]="blog.description.substring(0, 1000)+'...'"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Blog List start-->
        </div>
    </div>
</section>
<!-- Section ends -->