.no-slider .product-box {
    max-width: 100% !important;
}

.col-md-3 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

::ng-deep .owl-theme .owl-nav [class*=owl-]:hover {
    background: #555454;
}

::ng-deep .owl-theme .owl-nav [class*=owl-] {
    background: #7a7a7a;
}