@import "../../../../assets//scss//theme//variables";

.product-box {
  // max-width: 300px !important;
}

.product-box {
  // max-width: 100% !important;
  border: 1px solid $primary-ultra-ultra-light;
  box-shadow: 4px 4px 20px 0px #0006 !important;
}

// .owl-nav {
//   width: 100%;
// }

::ng-deep .owl-prev {
  position: absolute !important;
  left: 0 !important;
  width: 48px !important;
  height: 80px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #fff !important;
  color: #000 !important;
}

::ng-deep .owl-next {
  position: absolute !important;
  right: 0 !important;
  width: 48px !important;
  height: 80px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #fff !important;
  color: #000 !important;
}

::ng-deep .owl-prev:hover, ::ng-deep .owl-next:hover {
  background-color: $primary-light !important;
  color: #fff !important;
}

::ng-deep .ti-angle-right, ::ng-deep .ti-angle-left {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
}