@import "../../../../assets//scss//theme//variables";

.mobile-close-circle {
  display: none;
}

@media only screen and (max-width: 425px) {
  .mobile-close-circle {
    display: block;
  }
}

.icon-nav {
  height: 100% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-nav > ul {
  display: flex;
  flex-direction: row;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.icon-nav > ul > li {
  margin: 0 8px 0 8px;
}

.icon-nav a {
  color: #fff !important;
  text-decoration: unset;
}

.onhover-div {
  padding: 0 !important;
}

.cart_qty_cls {
  margin-top: -20px;
}

.onhover-div .show-div {
  top: 40px !important;
}

.shopping-cart-icon {
}

.shopping-cart {
  padding: 15px 15px;
  box-shadow: 4px 4px 20px 0px #0006 !important;
  border: 1px solid $primary-ultra-ultra-light;
  min-width: 320px;
  left: unset;
  right: 0;
  max-height: 400px;
  overflow: auto;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $primary-main;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  h5 {
    margin-bottom: 0;
  }
  li {
    position: relative;
    padding-bottom: 10px;
    width: 100%;
    &:last-child {
      padding-bottom: 0;
    }
    .media {
      img {
        height: 90px;
      }
      .media-body {
        align-self: center;
        h4 {
          color: $font-color;
          span {
            color: $grey;
            font-size: 16px;
          }
        }
      }
    }
    .close-circle {
      position: absolute;
      top: 0;
      right: 0;
      i {
        color: $grey-light;
        transition: all 0.3s ease;
        &:hover {
          color: $black;
          transition: all 0.3s ease;
        }
      }
    }
    .total {
      border-top: 1px solid $border-grey;
      border-bottom: 1px solid $border-grey;
      padding-top: 10px;
      padding-bottom: 10px;
      h5 {
        text-transform: capitalize;
        margin-bottom: 0;
        color: $header-font;
        span {
          float: right;
        }
      }
    }
    .buttons {
      a {
        font-size: 16px;
        color: $font-color;
        text-transform: capitalize;
        font-weight: 700;
        &:hover {
          color: var(--theme-deafult);
        }
      }
      .checkout {
        float: right;
      }
    }
  }
}

.buttons > .view-cart, .buttons > .checkout {
  color: $primary-main !important;
  text-decoration: none;
}
