<owl-carousel-o [options]="BlogSliderConfig" class="no-arrow">
  <ng-container *ngFor="let blog of blogs">
    <!-- <ng-container *ngFor="let blog of blogs" [routerLink]="['/blog/details', blog._id]" > -->
    <ng-template carouselSlide>
      <div class="col-md-12">
        <a [routerLink]="['/pages/blog/details', blog._id]">
          <div class="classic-effect">
            <img [src]="this.imageAddress + blog.imgUrl" class="img-fluid" alt="blog">
            <span></span>
          </div>
        </a>
        <div class="blog-details">
          <h4>{{blog.createdAt | date}}</h4>
          <a [routerLink]="['/pages/blog/details', blog._id]">
            <p>{{blog.title}}</p>
            <span class="badge badge-pill badge-primary" *ngFor="let object of blog.tags">
              {{ object }}
            </span>
          </a>
          <hr class="style1">
          <!-- <h6> {{ 'by:' +blog.by}} , {{ '2 Comment' }}</h6> -->
        </div>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>