<!-- Navbar -->
<div class="container-fluid navbar-section navbar-section-1">
    <div class="navbar-offer row justify-content-center">
        <h6 class="text-white pb-0">Get Our Exclusive Products</h6>
    </div>
    <div class="navbar-header-top row">
        <div class="navbar-header-top-left col-4">
            <span>Welcome to HardTaker!</span>
        </div>
        <div class="navbar-header-top-right col-8 d-flex justify-content-end">
            <a class="p-1" href="">HOME</a>
            <a class="p-1" href="">CONTACT</a>
            <a class="p-1" href="">BLOGS</a>
            <a class="p-1" href="">FAQ</a>
        </div>
    </div>
    <div class="navbar-header-bottom row justify-content-between">
        <div class="col-3">
            <a [routerLink]="[ '/']">
                <div class="logo">
                    Hard
                    <span>Taker</span>
                </div>
            </a>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="What Are You Looking For?"
                    aria-label="What Are You Looking For?" aria-describedby="button-addon2"
                    [(ngModel)]="searchValueInput">
                <!-- <input class="search_input" type="text" name="searchValue" placeholder="What Are You Looking For?"
                    aria-label="What Are You Looking For?" (input)="searchProducts($event.target.value)"
                    ng-pattern-restrict="^$|^[A-Za-z0-9]+"> -->
                <button class="btn btn-outline-secondary" (click)="searchProducts()" type="button" id="button-addon2">
                    <i class="fa fa-2x fa-search"></i>
                </button>
            </div>
        </div>
        <div class="col-3 d-flex justify-content-end right-side-icons">
            <app-settings-two></app-settings-two>
        </div>
    </div>
</div>
<!-- header start -->
<header class="sticky navbar-section-2">
    <div class="mobile-fix-option"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-menu border-section border-top-0">
                    <div class="menu-left">
                        <app-left-menu></app-left-menu>
                    </div>
                    <div class="brand-logo layout2-logo headerlogo">
                        <a [routerLink]="[ '/']">
                            <div class="logo">
                                Hard
                                <span>Taker</span>
                            </div>
                        </a>
                    </div>
                    <div class="menu-right pull-right">
                        <app-settings></app-settings>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>