@import "../../../../assets//scss//theme//variables";

.navbar-section {
  font-family: "Roboto", sans-serif !important;
}

.navbar-offer {
  text-align: center;
  background-color: $primary-light;
  color: rgb(255, 255, 255);
  // font-size: 15px;
  line-height: 0.5 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 1.25em;
  padding: 0 1px 0 1px;
}
.navbar-offer > h6 {
  margin-bottom: 0px !important;
}

.navbar-header-top {
  background-color: $primary-ultra-dark;
  color: #fff !important;
  padding: 8px;
  line-height: 0.5 !important;
}

.navbar-header-top-left > span {
  font-size: 0.85rem;
}

.navbar-header-top-right > a {
  color: #fff !important;
  font-size: 0.7rem;
  padding-left: 8px !important;
  padding-right: 8px !important;
  text-decoration: unset;
}
.navbar-header-top-right > a:not(:first-child) {
  border-left: #fff 1px solid;
}

.navbar-header-bottom {
  background-color: $primary-ultra-dark;
  color: #fff !important;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: fit-content;
}

.logo {
  text-align: center;
  width: 160px;
  height: 100%;
  background: linear-gradient(90deg, $primary-light 50%, $primary-dark 50%);
  color: #fff !important;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid $primary-light !important;
  font-family: monospace;
  font-size: 1.25em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.input-group-sm {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-group-sm > input,
.input-group-sm > button {
  height: 90% !important;
}
.input-group-sm > button {
  background-color: $primary-light;
  border-color: $primary-light;
}
.input-group-sm > button:hover {
  background-color: $primary-ultra-light;
}
.input-group-sm > button > i {
  color: #fff;
  border: none;
}

.right-side-icons {
    height: 45px !important;
    font-size: 1.25rem;
}

.navbar-section-2 {
    display: none !important;
}

@media only screen and (max-width: 734px){
    .navbar-section-1 {
        display: none !important;
    }
    .navbar-section-2 {
        display: block !important;
    }
}