<app-breadcrumb [title]="'FAQ'" [breadcrumb]="'FAQ'"></app-breadcrumb>
<app-pagetitle [title]="'FAQ'" [subtitle]="'How can we help?'"></app-pagetitle>

<!-- section start-->
<section class="faq-section tab-product section-b-space">
    <div class="container container-custom">
        <div class="d-flex flex-row justify-content-center h-100">
            <div class="searchbar">
                <input class="search_input" type="text" name="searchValue" placeholder="Type here..."
                    (input)="searchFaq($event.target.value)" ng-pattern-restrict="^$|^[A-Za-z0-9]+">
            </div>
        </div>
        <div class="row">
            <span class="text-danger" *ngIf="searchValueError">Invalid Value</span>
        </div>
    </div>

    <div class="container" *ngIf="showSearchedFaq">
        <div class="row">
            <div class="col-12">
                <ngb-accordion class="mb-4" *ngFor="let faq of faqList" [closeOthers]="true" activeIds="static-1"
                    class="accordion theme-accordion" id="accordionExample">
                    <ngb-panel id="static-1" title="{{faq.question}}">
                        <ng-template ngbPanelContent>
                            <p>{{faq.answer}}</p>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
            <div class="col-12" *ngIf="faqList.length == 0">
                <div class="text-center">
                    No FAQ found
                </div>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="!showSearchedFaq">
        <div class="row">
            <div class="col-12">
                <ngb-tabset [type]="'tabs'" class="nav-material">
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <div (click)="onTabChange('shipping')">
                                Shipping
                            </div>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <ngb-accordion class="mb-4" *ngFor="let faq of faqList" [closeOthers]="true"
                                activeIds="static-1" class="accordion theme-accordion" id="accordionExample">
                                <ngb-panel id="static-1" title="{{faq.question}}">
                                    <ng-template ngbPanelContent>
                                        <p>{{faq.answer}}</p>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template (click)="onTabChange('product')" ngbTabTitle>
                            <div (click)="onTabChange('product')">
                                Product
                            </div>
                        </ng-template>
                        <ng-template *ngFor="let faq of faqList" ngbTabContent>
                            <ngb-accordion [closeOthers]="true" activeIds="static-1" class="accordion theme-accordion"
                                id="accordionExample">
                                <ngb-panel id="static-1" title="{{faq.question}}">
                                    <ng-template ngbPanelContent>
                                        <p>{{faq.answer}}</p>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
            <div class="col-12" *ngIf="faqList.length == 0">
                <div class="text-center">
                    No FAQ found
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->